* {
    BG:    rgba(30, 29, 47, 0.2);
    BGORG: #1E1D2Fff;
    BGA:   #E1164A;
    FG:    #D9E0EEff;
    FGA:   #F28FADff;
    BDR:   #96CDFBff;
    SEL:   #F2F2F2;
    UGT:   #F28FADff;
    IMG:   #FAE3B0ff;
    OFF:   #575268ff;
    ON:    #ABE9B3ff;
}