* {
    border: none;
    border-radius: 0px;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 12px;
    min-height: 24px;
    color: @main-fg;
}

window.DP-4 * {
    font-size: 10px;
    min-height: 18px;
}

@import "themes/theme.css";

window#waybar {
    background: @bar-bg;
}

tooltip {
    background: @tooltip-bg;
    color: red;
    border-radius: 7px;
    border-width: 0px;
}

#workspaces button {
    box-shadow: none;
	text-shadow: none;
    border-radius: 20px;
    min-width: 20px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 0px;
    padding: 0 6px;
    margin-right: 3px;
    color: @main-fg;
    animation: ws_normal 20s ease-in-out 1;
}

#workspaces button.active {
    background: @wb-act-bg;
    color: @main-fg;
    margin-left: 3px;
    padding-left: 6px;
    padding-right: 6px;
    margin-right: 3px;
    /* animation: ws_active 20s ease-in-out 1;
    transition: all 0.12s cubic-bezier(.55,-0.68,0.48,0.7); */
}

#workspaces button:hover {
    background: @wb-hvr-bg;
    color: @wb-hvr-fg;
}

#taskbar button {
    box-shadow: none;
	text-shadow: none;
    padding: 0px;
    border-radius: 9px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 0px;
    padding-left: 3px;
    padding-right: 3px;
    margin-right: 0px;
    color: @wb-color;
    animation: tb_normal 20s ease-in-out 1;
}

#taskbar button.active {
    background: @wb-act-bg;
    color: @wb-act-color;
    margin-left: 3px;
    padding-left: 12px;
    padding-right: 12px;
    margin-right: 3px;
    animation: tb_active 20s ease-in-out 1;
    transition: all 0.4s cubic-bezier(.55,-0.68,.48,1.682);
}

#taskbar button:hover {
    background: @wb-hvr-bg;
    color: @wb-hvr-color;
    animation: tb_hover 20s ease-in-out 1;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#backlight,
#battery,
#bluetooth,
#cpu,
#clock,
#custom-cliphist,
#custom-cpuinfo,
#custom-gpuinfo,
#custom-keybindhint,
#idle_inhibitor,
#language,
#mpris,
#memory,
#network,
#custom-power,
#custom-spotify,
#pulseaudio,
#taskbar,
#tray,
#custom-theme,
#custom-updates,
#custom-wallchange,
#custom-wbar,
#window,
#workspaces,
#custom-l_end,
#custom-r_end,
#custom-sl_end,
#custom-sr_end,
#custom-rl_end,
#custom-rr_end {
    /* color: @main-fg; */
    background: @main-bg;
    /* border: solid 2px @main-bg; */
    border-radius: 20px;
    margin: 6px;
    padding: 0 12px;
    min-height: 24px;
}

#workspaces,
#taskbar {
    /* padding: 0px; */
    /* margin: 12px 0; */
}

#custom-r_end {
    border-radius: 0px 21px 21px 0px;
    margin-right: 9px;
    padding-right: 3px;
}

#custom-l_end {
    border-radius: 21px 0px 0px 21px;
    margin-left: 9px;
    padding-left: 3px;
}

#custom-sr_end {
    border-radius: 0px;
    margin-right: 9px;
    padding-right: 3px;
}

#custom-sl_end {
    border-radius: 0px;
    margin-left: 9px;
    padding-left: 3px;
}

#custom-rr_end {
    border-radius: 0px 7px 7px 0px;
    margin-right: 9px;
    padding-right: 3px;
}

#custom-rl_end {
    border-radius: 7px 0px 0px 7px;
    margin-left: 9px;
    padding-left: 3px;
}