/*========*/
/* GLOBAL */
/*========*/
@define-color ColorCore #DE1636;
@define-color ColorWhite #F2F2F2;
@define-color ColorBG #313244;

* {
    border: none;
    border-radius: 0;
    font-family: JetBrainsMono Nerd Font;
    font-size: 14px;
    min-height: 0;
    font-weight: 500;
}

window#waybar {
    background: transparent;
    color: #cdd6f4;
}

window#waybar > .horizontal {
    margin-top: 10px;
}

.horizontal.modules-center {
    background: linear-gradient(to right, #1e1e2e 0%, #1e1e2e 75%, #1e1e2e 75%);
    border-radius: 50px;
}

#clock {
    background-color: @ColorBG;
    color: #f5c2e7;
    padding: 0 15px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    padding-right: 20px;
}

#custom-time {
    padding: 0 20px;
    color: @ColorWhite;
    font-weight: bold;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    padding-left: 10px;
}

#language {
    background-color: @ColorBG;
    padding: 0 15px;
    color: #89b4fa;
}

#cpu {
    background-color: @ColorBG;
    padding: 0 15px;
    color: #f38ba8;
}

#memory {
    background-color: @ColorBG;
    padding: 0 15px;
    color: #f9e2af;
}

#pulseaudio {
    background-color: @ColorBG;
    padding: 0 15px;
    min-width: 40px;
    color: #fab387;
}

#tray {
    background-color: @ColorBG;
    /* icons usually give it enough margin :p */
    padding-left: 20px;
/*    padding: 0 15px;*/
    padding-right: 10px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

#idle_inhibitor {
    background-color: @ColorBG;
    padding-left: 20px;
    padding-right: 25px;
}

#idle_inhibitor.activated {
    color: @ColorWhite;
    background: @ColorCore;
}

#workspaces {
    padding: 8px 10px;
    padding-right: 15px;
    background-color: #1e1e2e;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

#workspaces button {
    background: #1e1e2e;
    color: @ColorWhite;
    border-radius: 50px;
    min-width: 20px;
}

#workspaces button.active {
    border: none;
    box-shadow: none;
    outline: none;
    text-shadow: none;
    color: @ColorWhite;
    background-color: @ColorCore;
}

#workspaces button.urgent {
    border: none;
    box-shadow: none;
    outline: none;
    text-shadow: none;
    color: #1e1e2e;
    background-color: #f7768e;
}

#workspaces button:hover:not(.active) {
    border: none;
    box-shadow: none;
    outline: none;
    text-shadow: none;
	color: @ColorCore;
    background-color: @ColorBG;
}

#workspaces button:not(:first-child) {
    margin-left: 8px;
}